body {
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;

}
.clearfix {
    clear: both;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.menubar {
    width: 100%;
    height: 50px;
    background: #CCCCCC;
    box-shadow: 0 0 10px #006666;
}
.menubar .logo {
    float: left;
}
.menubar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
}
.menubar ul.menu {
    list-style: none;
    float: right;
}
.menubar ul.menu li {
    float: left;
    margin-right: 20px;
}
.menubar ul.menu li a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}
.menubar ul.menu li a:hover {   
    border-bottom: 2px solid #333;
    padding-bottom: 0;
}
.header{
    width: 100%;
    background: url(../img/sky.jpg)no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
}
.header_area {
    padding-top: 75px;
    text-align: center;
    margin: 0 auto;
    width: 600px;

}
.header_area h1 {
    margin: 0;
    font-size: 40px;
    font-weight: normal;
}



.info1 {
    width: 100%;
    height: 400px;
}
.info1_area {
    color: #333;
}
.info1_area img {
    margin-top: 80px;
    float: left;
}
.info1_text {
    text-align: center;
    width: 460px;
    float: left;
    margin-left: 70px;
    margin-top: 100px;
}
.info1_area h1 {
    margin: 0;
}


.info2 {
    width: 100%;
    height: 400px;
    background-color: #333333;
}
.info2_area {
    color: #fff;
}
.info2_area img {
    margin-top: 80px;
    float: left;
}
.info2_text {
    text-align: center;
    width: 460px;
    float: left;
    margin-left: 70px;
    margin-top: 100px;
}
.info2_area h1 {
    margin: 0;
}



.info3 {
    width: 100%;
    height: 400px;
}
.info3_area {
    color: #333;
}
.info3_area img {
    margin-top: 80px;
    float: left;
}
.info3_text {
    text-align: center;
    width: 460px;
    float: left;
    margin-left: 70px;
    margin-top: 100px;
}
.info3_area h1 {
    margin: 0;
}





.contact {
    width: 100%;
    height: 550px;
    background-color: #DDDDDD;
}
.contact_area h1 {
    font-weight: normal;
}
.contact_area input {
    margin: 10px 0;
    border: 2px soild #333;
    width:  350px;
    padding: 10px;
    
}
.contact_area textarea {
    margin: 10px 0;
    border: 2px soild #333;
    width:  350px;
    padding: 10px;
    
}
.contact_area button {
    padding: 10px;
    width: 80px;
    background: #333;
    color: #fff;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: all 0.3s ease ; 
}
.contact_area button:hover {
    background: #fff;
    color: #333;
    border: 2px solid #333;
}



footer {
    background: #333;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    color: #fff;
}
footer p {
    margin: 0;
}